<!DOCTYPE html>

<html lang="en-GB">
	{% include head.html %}

	<body>
		{% include header.html %}
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
		{% include footer.html %}

	</body>

	<a href="https://github.com/unclecshark"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"
		 alt="Fork me on GitHub"></a>
	<a href="https://github.com/UncleCShark/Cmaketopia"><img style="position: absolute; top: 0; left: 0; border: 0; width: 150px;" src=https://user-images.githubusercontent.com/38818698/50577436-49bb4080-0e28-11e9-9427-476621a753d1.png
		 alt="Fork me on GitHub"></a>

</html>